<div class="container">
  <mat-card class="example-card" *ngFor="let product of products">
    <mat-card-title>{{product.title}}</mat-card-title>
    <img mat-card-image src='{{product.image}}' />
    <mat-card-content>
      <p>цена: {{product.price | currency:"USD"}}</p>
      <p>срок: {{product.year}}</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button class='button' mat-button>В корзину</button>
      <button class='button' mat-button [routerLink]="['/product', product.id]">
        Подробнее
      </button>
    </mat-card-actions>
  </mat-card>
</div>